/venv

*.pyc
*~
*.swp
.tox
*.egg-info
build/
debian/ocf-create
debian/*.log
debian/links
debian/files
debian/rules
debian/substvars
debian/ocf-create.substvars
debian/*.debhelper
debian/changelog
.version
dist/
