amqp==2.4.0
billiard==3.5.0.5
cached-property==1.5.1
celery==4.2.1
certifi==2018.11.29
chardet==3.0.4
cracklib==2.9.3
dnspython==1.16.0
idna==2.8
Jinja2==2.10
kombu==4.2.2.post1
ldap3==2.5.1
MarkupSafe==1.1.0
ocflib
pexpect==4.6.0
ply==3.11
ptyprocess==0.5.2
pyasn1==0.4.5
pycryptodome==3.7.2
pycryptodomex==3.7.2
PyMySQL==0.9.3
pysmi==0.3.3
pysnmp==4.4.8
pytz==2018.9
PyYAML==3.13
redis==3.0.1
requests==2.21.0
SQLAlchemy==1.2.16
urllib3==1.24.1
vine==1.2.0
