#!/usr/bin/make -f
%:
	dh $@ --with python-virtualenv

override_dh_virtualenv:
	dh_virtualenv --python=/usr/bin/python3.7 --builtin-venv --extra-pip-arg='--no-binary=:all:'

override_dh_auto_build:
	@true
